
<div th:fragment="exito">
    <div class="container p-5 w-50 mt-5" style="justify-content: center">
        <a style="text-decoration: none" href="#">
            <div class="col-6 col-lg-12 p-3 mt-5" id="nuevoPedido" style="background-color: #EE6055;border-radius: 15px;text-align: center" >
                <div class="p-2 m-5 my-3" >
                    <i class="fas fa-check-circle" style="color: #ECECEC;font-size: xxx-large"></i>
                    <h2 style="color: #ECECEC;font-size: large; font-weight: bold">¡Hecho!</h2>
                </div>
            </div>
        </a>
    </div>
</div>

<div th:fragment="correoEnviado">
    <div class="container p-5 w-50 mt-5" style="justify-content: center">
        <div class="col-6 col-lg-12 p-3 mt-5" style="background-color: #EE6055;border-radius: 15px;text-align: center" >
            <div class="p-2 m-5 my-3" >
                <i class="fa-solid fa-paper-plane "style="color: #ECECEC;font-size: xxx-large"></i>
                <br>
                <br>
                <h2 style="color: #ECECEC;font-size: large; font-weight: bold">¡Se ha enviado un correo de confirmación a tu email!</h2>
                <button type="button" class="btn btn-danger" style="border-radius: 30px" id="btnLogout">Aceptar</button>
            </div>
        </div>
    </div></div>

<div th:fragment="error">
    <div class="container ">
        <div class="row">
            <div class="col">
            </div>
            <div class="col pt-5">
                <p id="bienvenido">Error
                    <br>
                    ¡Algo ha salido mal!, intenta nuevamente</p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>





