<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: head"></div>
    <title>Crear noticia</title>
</head> 
<body style="overflow-x: hidden ;">
    <div th:replace="/fragments/navbar :: #navbarSI"></div>
        <main class="row">
            <div class="col-12" style="display: flex;flex-direction: row-reverse;">
                <div style="display:flex;flex-direction: row;">
                    <div style="display: flex; flex-direction: column; align-items: flex-end; justify-content: space-evenly;">
                        <div style="color:#f27272 ;margin-right: 10px; font-weight: bold;">Temuco</div>
                        <div style="color:#f27272 ; margin-right: 10px; font-weight: bold;">distribuidor ejemplo</div>
                    </div>
                    <img src="img/user (1).png" style="height:100px" alt="user">
                </div>
            </div>

            <div class="container p-5 ">
            <form action="nuevaNoticia" method="post">
                <div class="row p-2">

                    <div class="col-6 m-2 justify-content-center">
                        <div class="form-group">
                            <label for="titulo" style="font-weight: bold; color:#F27272; display: flex; align-items: center; padding: 0px 0px 0px 100px; font-size: large;">Titulo</label>
                            <input id="titulo" type="text" name="titulo" placeholder="introducir titulo">
                        </div>
                        <div class="form-group">
                            <label for="subtitulo" style="font-weight: bold; color:#F27272; display: flex; align-items: center; padding: 0px 0px 0px 100px; font-size: large;">Subtitulo</label>
                            <input id="subtitulo" type="text" name="subtitulo" placeholder="introducir subtitulo">
                        </div>
                        <div class="form-group">
                            <label for="contenido" style="font-weight: bold; color:#F27272; display: flex; align-items: center; padding: 0px 0px 0px 100px; font-size: large;">Contenido</label>
                            <textarea  name="cuerpo" id="contenido" cols="" rows="15" style="width: 650px; margin-left:100px;" class="redtextarea scrollred" placeholder="escribe aqui el contenido"></textarea>
                        </div>
                    </div>

                    <div class="div col-6 m-2 justify-content-center">
                        <div class="form-group">
                            <label for="etiquetas" style="font-weight: bold; color:#F27272; display: flex; align-items: center; padding: 0px 0px 0px 100px; font-size: large;">Etiquetas</label>
                            <input id="etiquetas" type="text" name="etiquetas" placeholder="introducir etiquetas">
                        </div>
                        <div class="form-group">
                            <label for="etiquetas" style="font-weight: bold; color:#F27272; display: flex; align-items: center; padding: 0px 0px 0px 100px; font-size: large;">Agregar imagen</label>
                            <img src="img/image (1).png" alt="img" style="height: 200px;">
                            <input name="imagen"  type="file" required accept=".png, .jpg, .jpeg">
                        </div>
                        <div class="form-group">
                            <button type="submit" style="background-color: #FB4E4E; border:none; color: white; border-radius: 14px; ">Publicar noticia</button>
                        </div>
                    </div>

                </div>
            </form>
            </div>
        </main>

    <div th:replace="/fragments/footer :: footer"></div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>