<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/head :: head"></div>
  <title>Distribuidor de alimentos</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

</head>
<body>
<div th:replace="/fragments/navbar :: #navbarSI "></div>

<div class="container p-5 ">
  <div class="row gx-5 ">
    <div class="col-12 col-lg-6" id="colDatos" >
      <div class="p-3 m-2" style="background-color: #EE6055;border-radius: 6%">

          <div class="p-3 m-2" style="background-color: white;border-radius: 15px 50px" id="detallePedido">
          <h2>Detalle del pedido</h2>
          <table>

            <tbody>
            <tr>
              <td>Nombre Distribuidor</td>
              <td>&nbsp;:&nbsp;</td>
              <td th:text="${nombreDist}"></td>
            </tr>
            <tr>
              <td>Nombre Solicitante</td>
              <td>&nbsp;:&nbsp;</td>
              <td th:text="${nombreUsuario}"></td>
            </tr>
            <tr>
              <td>Fecha de solicitud</td>
              <td>&nbsp;:&nbsp;</td>
              <td th:text="${fechaSolicitud}"></td>
            </tr>
            <tr>
              <td>ID del pedido</td>
              <td>&nbsp;:&nbsp;</td>
              <td th:text="${idPedido}"></td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="table-responsive" style="background-color: white;border-radius: 15px 50px" >
          <table class="table bg-light table-striped">
            <thead>
            <tr>
              <th><span>Tipo menú</span></th>
              <th><span>Cantidad</span></th>
              <th><span>Nota</span></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="pedido: ${pedidoMasReciente}">
              <td th:text="${pedido.tipo}" />
              <td th:text="${pedido.cantidad}"/>
              <td th:text="${pedido.nota}"/>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="col-12 col-lg-6" id="colGraficos" >
      <div class="grafico1 p-3 m-2" style="background-color:#EE6055;border-radius: 6%">
        <h3 style="color: #FFFFFF"> Pedido actual</h3>
        <canvas id="grafActual" width="100" height="100"></canvas>
      </div>

      <div class="grafico2 p-3 m-2" style="background-color:#EE6055;border-radius: 6%">
        <h3 style="color: #FFFFFF"> Pedido anterior</h3>
        <canvas id="grafAnterior" width="100" height="100"></canvas>
      </div>


    </div>

  </div>
</div>

<script>
  var ctx1 = document.getElementById("grafActual").getContext("2d");
  var ctx2 = document.getElementById("grafAnterior").getContext("2d");

  const config = {
    type:'bar',
    data:{
      datasets: [{
        label: ['raciones solicitadas'],
        backgroundColor: ['#6bf1ab','#63d69f', '#438c6c', '#509c7f', '#1f794e', '#34444c', '#90CAF9', '#64B5F6', '#42A5F5', '#2196F3', '#0D47A1'],
        borderColor: ['black'],
        borderWidth:1
      }]
    },
    options:{
      scales:{
        y:{
          beginAtZero:true
        }
      }
    }
  }

  var grafActual = new Chart(ctx1,config)
  var grafAnterior = new Chart(ctx2,config)


  const mostrarGrafico = (datosPedido,grafico) =>{
    datosPedido.forEach(element => {
      grafico.data['labels'].push(element[0])
      console.log(element[0])
      grafico.data['datasets'][0].data.push(parseInt(element[1]))
      console.log(element[1])
      grafico.update()
    });
  }

  let url = 'http://localhost:8080/api/pedidoactual'
  fetch(url)
          .then( response => response.json() )
          .then( pedidoMasReciente => mostrarGrafico(pedidoMasReciente,grafActual) )
          .catch( error => console.log(error))


  let url = 'http://localhost:8080/api/pedidoanterior'
  fetch(url)
          .then( response => response.json() )
          .then( pedidoAnterior =>  mostrarGrafico(pedidoAnterior,grafAnterior) )
          .catch( error => console.log(error))



</script>

<footer class="footer mt-auto">
</footer>

<div th:replace="/fragments/footer :: bootstrap "></div>

</body>
</html>