<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="/fragments/head :: head"></div>
  <title>Distribuidor de alimentos</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

</head>
<body>
<div th:replace="/fragments/navbar :: #navbarSI "></div>

<div class="container p-5 ">
  <div class="row gx-5 ">
    <div class="col-12 col-lg-6" id="colDatos" >
      <div class="p-3 m-2" style="background-color: #EE6055;border-radius: 6%">

          <div class="p-3 m-2" style="background-color: white;border-radius: 15px 50px" id="detallePedido">
          <h2>Detalle del pedido</h2>
          <table>

            <tbody>
            <tr>
              <td>Nombre Distribuidor</td>
              <td>&nbsp;:&nbsp;</td>
              <td>Distribuidor 1</td>
            </tr>
            <tr>
              <td>Nombre Solicitante</td>
              <td>&nbsp;:&nbsp;</td>
              <td>Institución 1</td>
            </tr>
            <tr>
              <td>Fecha</td>
              <td>&nbsp;:&nbsp;</td>
              <td>02/09/2022</td>
            </tr>
            <tr>
              <td>ID del pedido</td>
              <td>&nbsp;:&nbsp;</td>
              <td>P00383</td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="p-3 m-2" style="background-color: white;border-radius: 15px 50px" id="statsPedido">
          <h3> Estadísticas del pedido</h3>
          <table>
            <tr>
              <td>Cantidad de personas</td>
              <td>&nbsp;:&nbsp;</td>
              <td>507</td>
            </tr>
            <tbody>
            <tr>
              <td>Raciones solicitadas</td>
              <td>&nbsp;:&nbsp;</td>
              <td>492</td>
            </tr>
            <tr>
              <td>Raciones consumidas</td>
              <td>&nbsp;:&nbsp;</td>
              <td>474</td>
            </tr>
            <tr>
              <td>Raciones perdidas</td>
              <td>&nbsp;:&nbsp;</td>
              <td>18</td>
            </tr>
            </tbody>
          </table>
          <br>
          <table id="tablaResumen">
            <thead>
            <tr>
              <th>Tipo de menú</th>
              <th>Raciones consumidas</th>
              <th>Raciones perdidas</th>
              <th>Total parcial</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Estándar</td>
              <td>415</td>
              <td>12</td>
              <td>427</td>
            </tr>
            <tr>
              <td>Celíaco</td>
              <td>9</td>
              <td>1</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Hipocalórico</td>
              <td>37</td>
              <td>3</td>
              <td>40</td>
            </tr>
            <tr>
              <td>Vegetariano</td>
              <td>13</td>
              <td>2</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>474</td>
              <td>18</td>
              <td>492</td>
            </tr>
            </tbody>
          </table>



        </div>

        <div class="p-3 m-2" style="background-color: white;border-radius: 15px 50px" id="anotaciones">
          <h2>Anotaciones</h2>
          <p id="textoBienvenida">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>


      </div>
    </div>

    <div class="col-12 col-lg-6" id="colGraficos" >
      <div class="grafico1 p-3 m-2" style="background-color:#EE6055;border-radius: 6%">
        <h3 style="color: #FFFFFF"> Pedido actual</h3>
        <canvas id="grafActual" width="100" height="100"></canvas>
      </div>

      <div class="grafico2 p-3 m-2" style="background-color:#EE6055;border-radius: 6%">
        <h3 style="color: #FFFFFF"> Pedido anterior</h3>
        <canvas id="grafAnterior" width="100" height="100"></canvas>
      </div>


    </div>

  </div>
</div>

<script>
  var ctx1 = document.getElementById("grafActual").getContext("2d");
  var ctx2 = document.getElementById("grafAnterior").getContext("2d");

  const config = {
    type:'bar',
    data:{
      datasets: [{
        label: ['raciones solicitadas'],
        backgroundColor: ['#6bf1ab','#63d69f', '#438c6c', '#509c7f', '#1f794e', '#34444c', '#90CAF9', '#64B5F6', '#42A5F5', '#2196F3', '#0D47A1'],
        borderColor: ['black'],
        borderWidth:1
      }]
    },
    options:{
      scales:{
        y:{
          beginAtZero:true
        }
      }
    }
  }

  var grafActual = new Chart(ctx1,config)
  var grafAnterior = new Chart(ctx2,config)

  let url = 'http://localhost:8080/api/pedidos'
  fetch(url)
          .then( response => response.json() )
          .then( datos => mostrarGraficos(datos) )
          .catch( error => console.log(error))

  const mostrarGraficos = (datosPedido) =>{
    datosPedido.forEach(element => {
      grafActual.data['labels'].push(element.tipo)
      console.log(element.tipo)
      grafActual.data['datasets'][0].data.push(element.cantidad)
      console.log(element.cantidad)
      grafActual.update()
      grafAnterior.update()
    });
  }

</script>

<footer class="footer mt-auto">
</footer>

<div th:replace="/fragments/footer :: bootstrap "></div>

</body>
</html>