<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head" :: head></div>
    <title>Inicio de sesion</title>
</head>
<body>
    <div th:replace="/fragments/navbar :: navbarSesionIniciada"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 ms-4 my-3 px-auto" style="border-radius: 15px; text-align: center; background-color: #ECECEC;">
                <p class="my-auto py-3" style="font-weight: 600; font-size:1.5em;">Bienvenido/a, <b style="color: #F27272;" th:text="${username}"></b></p>
            </div>
            <div class="dropdown" th:if="${!enlace.isPresent()||!enlace.get().getEstado().equals('aceptado')}">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    mi enlacen
                </button>
                <div class="dropdown-menu" >
                    <form th:if="${!enlace.isPresent()}" action="/invitar" method="post">
                    <b>mi enlace</b>
                    <input type="text" placeholder="email de distribuidor" name="destinatario">
                    <button class="btn btn-success" type="submit" name="button" value="enviar">enviar</button>
                    </form>
                    <form action="/eliminarenlace" method="post" th:if="${enlace.isPresent()&&enlace.get().getEstado().equals('en espera')}">
                        <b th:text="'esperando a '+${enlace.get().getDistribuidor().email}"></b>

                        <button  class="btn btn-danger" type="submit" name="button" value="eliminar">devuelveme mi enlace</button>
                    </form>
                    <form action="/eliminarenlace" method="post" th:if="${enlace.isPresent()&&enlace.get().getEstado().equals('rechazado')}">
                        <b>enlace rezachado</b>

                        <button class="btn btn-danger" type="submit" name="button" value="eliminar">devuelveme mi enlace</button>
                    </form>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-3 mx-4" style="background: linear-gradient(180deg, rgba(178,191,78,1) 0%, rgba(96,113,45,1) 100%); border-radius: 20px;">
                        <div class="row">
                            <div class="col-auto mx-auto my-4" style="font-size: 1.5em; font-weight: bold; color: white;">Nuevo Pedido</div>
                        </div>
                        <div class="row">
                            <img class="col-auto mx-auto" src="img/menu.png" alt="menu icon" style="height: 230px;">
                        </div>
                        <div class="row">
                            <div class="col-auto mx-auto my-4">
                                <form action="nuevoPedido" method="get">
                                    <button class="btn px-4" th:if="${enlace.isPresent()&&enlace.get().getEstado().equals('aceptado')}"  style="background-color: white; border:none; color: rgba(96,113,45,1); border-radius: 14px; ">Ingresar</button>
                                    <button class="btn px-4"  th:if="${!enlace.isPresent()||!enlace.get().getEstado().equals('aceptado')}" style="background-color: white; border:none; color: rgba(96,113,45,1); border-radius: 14px; "><a style="text-decoration: none;color: rgba(96,113,45,1)" href="#">necesita enlazarse a un distribuidor</a></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 mx-auto">
                        <div class="row">
                            <legend class="col-5" style="color: #F27272;">Historial de pedidos</legend>
                        </div>
                        <div class="row scrollred" style="height: 300px; overflow: hidden;overflow-y: scroll;">
                            <div class="col-12">
                                <div class="row py-2 my-2 align-items-center justify-content-center" style="border-radius: 15px; background-color: #F27272;" th:each="pedido:${pedidos}">
                                    <div class="col-2" style="color: white; text-align: center;">
                                        Fecha
                                    </div>
                                    <div class="col-3" style="background-color: white; color:#F27272; text-align: center; border-radius: 15px;" th:text="${pedido.fechaCreacion}">
                                    </div>
                                    <div class="col-7" style="display: flex; justify-content:flex-end" th:if="${!pedido.isRectificado()}">
                                        <a style="text-decoration:none;color: #F27272" href="rectificarPedido">
                                            <button class="btn px-4"  style="background-color: white; border:none; color: #F27272; border-radius: 14px; ">Rectificar</button>
                                        </a>
                                    </div>
                                    <div class="col-7" style="display: flex; justify-content:flex-end" th:if="${pedido.isRectificado()}">
                                        <a href="estadisticas">
                                            <button class="btn px-4"   style="background-color: white; border:none; color: #F27272; border-radius: 14px; "><a style="text-decoration:none;color: #F27272" href="estadisticas" >Ver estadísticas</a></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-5" th:insert="/fragments/carruselNoticias :: carruselNoticias">
        </div>
    </div>

    <div th:replace="/fragments/footer :: footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>